
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend><%= t('devise_views.registration') %></legend>
    <div><%= f.label t('devise_views.name') %><br />
    <%= f.text_field :name, autofocus: true %></div>

    <div><%= f.label t('devise_views.email') %><br />
    <%= f.email_field :email %></div>

    <div>
      <%= f.label t('devise_views.password') %><% if @validatable %><i><small>(<%= "#{@minimum_password_length} #{t('devise_views.minimum_chars')}" %>)</small></i><% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label t('devise_views.password_confirmation') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div><%= f.submit t('devise_views.sign_up'), class: "button tiny radius" %> <small>รณ <%= link_to t('devise_views.login'), new_session_path(resource_name) %></small></div>
  </fieldset>
<% end %>
