<%= form_for(@indicator) do |f| %>
  <% if @indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@indicator.errors.count, 'error')} #{t('indicator.save_failed')}" %></h2>

      <ul>
      <% @indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :register_date %>
        <%= f.date_field :register_date %>
      </div>

      <div class="small-4 columns">
        <%= f.label :credit_company %>
        <%= f.collection_select :credit_company_id, CreditCompany.all, :id, :name %>
      </div>

      <div class="small-4 columns">
        <%= f.label :file_name %>
        <%= f.text_field :file_name %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :indicator_1 %>
        <%= f.text_field :indicator_1 %>
      </div>

      <div class="small-4 columns">
        <%= f.label :indicator_2 %>
        <%= f.text_field :indicator_2 %>
      </div>

      <div class="small-4 columns">
        <%= f.label :indicator_3 %>
        <%= f.text_field :indicator_3 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :indicator_4 %>
        <%= f.text_field :indicator_4 %>
      </div>

      <div class="small-4 columns">
        <%= f.label :indicator_5 %>
        <%= f.text_field :indicator_5 %>
      </div>

      <div class="small-4 columns">
        <%= f.label :indicator_6 %>
        <%= f.text_field :indicator_6 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :indicator_7 %>
        <%= f.text_field :indicator_7 %>
      </div>

      <div class="small-4 columns">
        <%= f.label :status %>
        <%= f.text_field :status %>
      </div>
      <div class="small-4 columns">
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button small radius" %>
  </div>
<% end %>
