<h1><%= t('indicator.listing') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Indicator.human_attribute_name('register_date') %></th>
      <th><%= Indicator.human_attribute_name('credit_company') %></th>
      <th><%= Indicator.human_attribute_name('indicator_1') %></th>
      <th><%= Indicator.human_attribute_name('indicator_2') %></th>
      <th><%= Indicator.human_attribute_name('indicator_3') %></th>
      <th><%= Indicator.human_attribute_name('indicator_4') %></th>
      <th><%= Indicator.human_attribute_name('indicator_5') %></th>
      <th><%= Indicator.human_attribute_name('indicator_6') %></th>
      <th><%= Indicator.human_attribute_name('indicator_7') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= indicator.register_date %></td>
        <td><%= indicator.credit_company %></td>
        <td><%= number_to_currency(indicator.indicator_1, unit: "", separator: ".", delimiter: ",") %></td>
        <td><%= number_to_currency(indicator.indicator_2, unit: "", separator: ".", delimiter: ",") %></td>
        <td><%= number_to_currency(indicator.indicator_3, unit: "", separator: ".", delimiter: ",", precision: 0) %></td>
        <td><%= number_to_percentage(indicator.indicator_4, precision: 2, separator: ".") %></td>
        <td><%= number_to_currency(indicator.indicator_5, unit: "", separator: ".", delimiter: ",") %></td>
        <td><%= number_to_currency(indicator.indicator_6, unit: "", separator: ".", delimiter: ",") %></td>
        <td><%= number_to_currency(indicator.indicator_7, unit: "", separator: ".", delimiter: ",", precision: 0) %></td>
        <td><%= link_to t('show'), indicator, class: "button radius" %></td>
        <td><%= link_to t('edit'), edit_indicator_path(indicator), class: "button radius" %></td>
        <td><%= link_to t('destroy'), indicator, method: :delete, data: { confirm: t('are_you_sure') }, class: "button radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('indicator.new'), new_indicator_path, class: "button radius" %>
<%= link_to t('upload'), upload_new_indicator_path, class: "button radius" %>
<%= link_to t('queries'), new_query_path, class: "button radius" %>
