<h1>Listing indicators</h1>

<table>
  <thead>
    <tr>
      <th>Register date</th>
      <th>Credit company</th>
      <th>File name</th>
      <th>Indicator 1</th>
      <th>Indicator 2</th>
      <th>Indicator 3</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= indicator.register_date %></td>
        <td><%= indicator.credit_company %></td>
        <td><%= indicator.file_name %></td>
        <td><%= indicator.indicator_1 %></td>
        <td><%= indicator.indicator_2 %></td>
        <td><%= indicator.indicator_3 %></td>
        <td><%= indicator.status %></td>
        <td><%= link_to 'Show', indicator %></td>
        <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
        <td><%= link_to 'Destroy', indicator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicator', new_indicator_path %>
