<h4><%= t('indicator.listing') %></h4>

<%= paginate @indicators %>

<table>
  <thead>
    <tr>
      <th><%= Indicator.human_attribute_name('register_date') %></th>
      <th><%= Indicator.human_attribute_name('credit_company') %></th>
      <th><%= Indicator.human_attribute_name('indicator_1') %></th>
      <th><%= Indicator.human_attribute_name('indicator_2') %></th>
      <th><%= Indicator.human_attribute_name('indicator_3') %></th>
      <th><%= Indicator.human_attribute_name('indicator_4') %></th>
      <th><%= Indicator.human_attribute_name('indicator_5') %></th>
      <th><%= Indicator.human_attribute_name('indicator_6') %></th>
      <th><%= Indicator.human_attribute_name('indicator_7') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= indicator.register_date.strftime("%d/%m/%Y") %></td>
        <td><%= indicator.credit_company.name %></td>
        <td><%= as_money(indicator.indicator_1) %></td>
        <td><%= as_money(indicator.indicator_2) %></td>
        <td><%= as_percentage(indicator.indicator_3) %></td>
        <td><%= as_percentage(indicator.indicator_4) %></td>
        <td><%= as_integer(indicator.indicator_5) %></td>
        <td><%= as_integer(indicator.indicator_6) %></td>
        <td><%= as_percentage(indicator.indicator_7) %></td>
        <td><%= link_to t('show'), indicator %></td>
        <td>
        <% if policy(indicator).edit? %>
          <%= link_to t('edit'), edit_indicator_path(indicator) %>
        <% end %>
        </td>
        <td>
        <% if policy(indicator).destroy? %>
          <%= link_to t('destroy'), indicator, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @indicators %>

<br>

<%= link_to t('indicator.new'), new_indicator_path, class: "button small radius" if policy(Indicator).create? %>
<%= link_to t('upload'), upload_new_indicator_path, class: "button small radius" if policy(Indicator).upload? %>
<%= link_to t('queries'), new_query_path, class: "button small radius" if policy(Query).create? %>
