<p id="notice"><%= notice %></p>

<p>
  <strong><%= Indicator.human_attribute_name('register_date') %>:</strong>
  <%= @indicator.register_date %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('credit_company') %>:</strong>
  <%= @indicator.credit_company %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('file_name') %>:</strong>
  <%= @indicator.file_name %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_1') %>:</strong>
  <%= number_to_currency(@indicator.indicator_1, unit: "", separator: ".", delimiter: ",") %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_2') %>:</strong>
  <%= number_to_currency(@indicator.indicator_2, unit: "", separator: ".", delimiter: ",") %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_3') %>:</strong>
  <%= number_to_currency(@indicator.indicator_3, unit: "", separator: ".", delimiter: ",", precision: 0) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_4') %>:</strong>
  <%= number_to_percentage(@indicator.indicator_4, precision: 2, separator: ".") %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_5') %>:</strong>
  <%= number_to_currency(@indicator.indicator_5, unit: "", separator: ".", delimiter: ",") %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_6') %>:</strong>
  <%= number_to_currency(@indicator.indicator_6, unit: "", separator: ".", delimiter: ",") %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_7') %>:</strong>
  <%= number_to_currency(@indicator.indicator_7, unit: "", separator: ".", delimiter: ",", precision: 0) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('status') %>:</strong>
  <%= @indicator.status %>
</p>

<%= link_to t('edit'), edit_indicator_path(@indicator), class: "button radius" %> |
<%= link_to t('back'), indicators_path, class: "button radius" %>
