<p id="notice"><%= notice %></p>

<p>
  <strong><%= Indicator.human_attribute_name('register_date') %>:</strong>
  <%= @indicator.register_date %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('credit_company') %>:</strong>
  <%= @indicator.credit_company.name %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('file_name') %>:</strong>
  <%= @indicator.file_name %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_1') %>:</strong>
  <%= as_money(@indicator.indicator_1) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_2') %>:</strong>
  <%= as_money(@indicator.indicator_2) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_3') %>:</strong>
  <%= as_percentage(@indicator.indicator_3) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_4') %>:</strong>
  <%= as_percentage(@indicator.indicator_4) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_5') %>:</strong>
  <%= as_integer(@indicator.indicator_5) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_6') %>:</strong>
  <%= as_integer(@indicator.indicator_6) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('indicator_7') %>:</strong>
  <%= as_percentage(@indicator.indicator_7) %>
</p>

<p>
  <strong><%= Indicator.human_attribute_name('status') %>:</strong>
  <%= @indicator.status %>
</p>

<%= link_to t('edit'), edit_indicator_path(@indicator) %> |
<%= link_to t('back'), indicators_path %>
