<h1><%= t('indicator.new') %></h1>

<div class="small-9 columns">
  <%= form_for(@indicator, url: {action: "receive_and_create"}) do |f| %>
    <% if @indicator.errors.any? %>
      <div id="error_explanation">
        <h2><%= "#{pluralize(@indicator.errors.count, 'error')} #{t('indicator.save_failed')}" %></h2>

        <ul>
        <% @indicator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :credit_company %><br>
      <%= f.number_field :credit_company %>
    </div>

    <div class="field">
      <%= f.label :file %><br>
      <%= f.file_field :file %>
    </div>

    <div class="actions">
      <%= f.submit t('upload') %>
    </div>

    <%= link_to t('back'), indicators_path, class: "button radius" %>
  <% end %>
</div>