<h1><%= t('indicator.new') %></h1>

<%= form_for(@indicator, url: {action: "receive_and_create"}) do |f| %>
  <% if @indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@indicator.errors.count, 'error')} #{t('indicator.save_failed')}" %></h2>

      <ul>
      <% @indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :file_name %>
        <%= f.file_field :file_name %>
      </div>

      <div class="small-8 columns">
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('upload'), class: "button small radius" %>
  </div>

  <%= link_to t('back'), indicators_path %>
<% end %>
