<h1><%= t('query.new') %></h1>

<%= form_for @query, remote: false, data: { type: :json } do |f| %>
  <div class="row">
    <fieldset class="small-12 columns">
      <legend><%= t('query.dates_and_periods') %></legend>
      <div class="small-4 columns">
        <%= f.label :end_date %>
        <%= f.date_field :end_date, { value: @query.end_date } %>
      </div>

      <div class="small-6 columns">
        <%= f.label :type %>

        <%= f.radio_button :type, :all, { value: @query.type } %>
        <%= label_tag(:type_all, t('query.types.all')) %>

        <%= f.radio_button :type, :year, { value: @query.type } %>
        <%= label_tag(:type_yearly, t('query.types.yearly')) %>

        <%= f.radio_button :type, :month, { value: @query.type } %>
        <%= label_tag(:type_monthly, t('query.types.monthly')) %>

        <%= f.radio_button :type, :week, { value: @query.type } %>
        <%= label_tag(:type_weekly, t('query.types.weekly')) %>
      </div>

      <div class="small-2 columns">
      </div>
    </fieldset>

    <fieldset class="small-12 columns">
      <legend><%= t('query.narrow_your_search_header') %></legend>

      <div class="small-4 columns">
        <%= f.label :location %>
        <%= f.collection_select :location, Location.all, :id, :name, prompt: t('query.prompt_location') %>
      </div>

      <div class="small-6 columns">
        <%= f.label :companies %>
        <%= f.text_field :companies, { value: (@query.companies.join(',') if @query.location.blank?) } %>
      </div>

      <div class="small-2 columns">
      </div>

    </fieldset>
  </div>

  <div class="actions">
    <%= f.submit t('do_query'), class: "button small radius" %>
  </div>
<% end %>

<% if @query.results.present? %>
  <p id='result_start'><b>Los resultados de tu consulta son:</b></p>
  <% @query.results.each do |results_by_date| %>
    <p><b>Para la fecha de <%= "#{results_by_date[:date].strftime("%Y-%m-%d")}" %>, se tienen los siguientes resultados</b><p>
    <% results_by_date[:results].each do |r| %>
      <p>
        <%= "- El promedio de #{Rails.application.config.individual_indicators[r[:indicator]]} es #{as_decimal(r[:result].average) || 'incalculable'} y la suma es #{as_decimal(r[:result].sum)} con #{r[:result].count} registros contabilizados" %>
      </p>
    <% end %>
    <hr/>
  <% end %>
<% else %>
  <p id='result_start'></p>
  <% @all_indicators.each_key do |i| %>
    <p id='<%= "result_#{i}" %>'></p>
  <% end %>
  <p id='result_error'></P>
<% end %>

<%= link_to t('back'), indicators_path %>
