<h1><%= t('query.new') %></h1>

<div class="small-3 columns">
  <%= form_for @query, remote: false, data: { type: :json } do |f| %>
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_field :start_date, { value: @query.start_date } %>
    </div>

    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_field :end_date, { value: @query.end_date } %>
    </div>

    <div class="actions">
      <%= f.submit t('do_query') %>
    </div>
  <% end %>

  <%= link_to t('back'), indicators_path, class: "button radius" %>
</div>

<% if @query.present? %>
  <p><%= "El promedio es #{@query.results[0].average || 'incalculable'} y la suma es #{@query.results[0].sum} con #{@query.results[0].count} empresas contabilizadas" %></p>
  <p><%= "El promedio es #{@query.results[1].average || 'incalculable'} y la suma es #{@query.results[1].sum} con #{@query.results[1].count} empresas contabilizadas" %></p>
  <p><%= "El promedio es #{@query.results[2].average || 'incalculable'} y la suma es #{@query.results[2].sum} con #{@query.results[2].count} empresas contabilizadas" %></p>
<% end %>

<p id="results"></p>
<p id="results2"></p>
<p id="results3"></p>
