<h1><%= t('query.new') %></h1>

<%= form_for @query, remote: true, data: { type: :json } do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :start_date %>
        <%= f.date_field :start_date, { value: @query.start_date } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :end_date %>
        <%= f.date_field :end_date, { value: @query.end_date } %>
      </div>

      <div class="small-4 columns">
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('do_query'), class: "button small radius" %>
  </div>
<% end %>

<%= link_to t('back'), indicators_path %>

<% if @query.has_results? %>
  <p id='result_start'><b>Los resultados de tu consulta son:</b></p>
  <% @query.results.each do |r| %>
    <p>
      <%= "- El promedio de #{r.human_name} es #{as_decimal(r.average) || 'incalculable'} y la suma es #{as_decimal(r.sum)} con #{r.count} registros contabilizados" %>
    </p>
  <% end %>
<% else %>
  <p id='result_start'></p>
  <% @all_indicators.each_key do |i| %>
    <p id='<%= "result_#{i}" %>'></p>
  <% end %>
  <p id='result_error'></P>
<% end %>
