<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <div class="small-4 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="small-4 columns">
        <%= f.label :code %>
        <%= f.text_field :code %>
      </div>

      <% if @type != "Location" %>
        <%= f.hidden_field :type, { value: @type.camelcase } %>
        <div class="small-4 columns">
        </div>
      <% else %>
        <div class="small-4 columns">
          <%= f.label :type %>
          <%= f.select :type, Location.types.map {|type| [type.constantize.model_name.human, type.camelcase]}, prompt: t('location.prompt_type') %>
        </div>
      <% end %>

      <% if @location.parent %>
        <div class="small-4 columns">
          <%= f.label "#{@location.parent.underscore}_id".to_sym %>
          <%= f.collection_select :parent_id, "#{@location.parent}".constantize.all, :id, :name, prompt: t('location.prompt_parent') %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button small radius" %>
  </div>
<% end %>
