<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @location.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @location.parent_id %>
</p>

<%= link_to t('edit'), sti_location_path(@location.type, @location, :edit) %> |
<%= link_to t('back'), sti_location_path(@type) %>
