<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : t('system_title') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-no-turbolink>
  
    <div class="row">
      <div class="large-9 columns">
        <ul class="button-group">
          <li><%= link_to t('menu.home'), root_path, class: "button" %></li>
          <li><%= link_to t('menu.indicators'), indicators_path, class: "button" %></li>
          <li><%= link_to t('menu.queries'), new_query_path, class: "button" %></li>
          <li><%= link_to t('menu.credit_companies'), credit_companies_path, class: "button" %></li>
          <li><%= link_to t('menu.locations'), locations_path, class: "button" %></li>
          <li><%= link_to t('menu.users'), users_path, class: "button" %></li>
        </ul> 
      </div>

      <div class="large-3 columns">
        <%= image_tag "Logo_Edesa.png" %>
        <small><%= current_user.name %> [ <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %> ] </small>
      </div>
    </div>
   
    <div class="row">    
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
   
    <footer class="row">
      <div class="large-12 columns">

        <hr/>

        <div class="panel">
          <h4>Empresa para el Desarrollo EDESA S.A.</h4>        
          <div class="row">
            <div class="large-9 columns">
              <p>En EDESA estamos comprometidos con el desarrollo de una actividad comercial de forma eficaz, con un amplio sentido humano y con una vasta proyección de crecimiento.</p>
            </div>
            <div class="large-3 columns">
              <a href="http://www.edesacr.com" target="_blank" class="radius button right">Contáctanos</a>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="large-6 columns">
            <p>Sistema desarrollado por <a href="http://www.arckanto.com" target="_blank">Arckanto software</a></p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><%= link_to t('menu.home'), root_path %></li>
              <li><%= link_to t('menu.about'), "#" %></li>
              <li><a href="http://www.edesacr.com" target="_blank">EDESA</a></li>
              <li><a href="http://www.fincacostarica.org" target="_blank">Grupo FINCA</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>